@import 'pusha';

body {
  background-color: #fff;
}

.container {
  max-width: 720px;
}

.page__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 205;
  padding: 15px 0;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}

.page__content {
  padding-top: 100px;
  padding-bottom: 50px;
}

.page__footer {
  padding-top: 40px;
  padding-bottom: 20px;
}

.menu {
  margin: 0 -15px;
}

.menu a {
  display: block;
  padding: 0.6em 1em;
}

.sub-menu {
  display: none;
}

.pusha-panel__content {
  padding: 15px;
}

.pusha-panel__close {
  margin-bottom: 1em;
}
